<% test = Test.where(id: build.test_id).first%>
<div id="build-card-<%= build.id%>">
   <div class="build-data">
      <ul class="list-inline list-inline-horizontal">
         <li class="list-group-item flex-build-data">
            <p class="bold">last duration: </p>
            <% if !build.last_duration.nil? %>
               <p><%= "#{Time.at(build.last_duration/1000).utc.strftime("%-Mmin %-Ss")}"%></p>
            <% else %>
               <p> N/A </p>
            <% end %>
         </li>
         <li class="list-group-item flex-build-data">
            <p class="bold">ave. duration: </p>
            <% if !build.ave_duration.nil? %>
               <p><%= "#{Time.at(build.ave_duration/1000).utc.strftime("%-Mmin %-Ss")}"%></p>
            <% else %>
               <p> N/A </p>
            <% end %>
         </li>
         <li class="list-group-item flex-build-data">
               <% if !build.stability.nil? %>
               <p class="bold">
                  <% if build.stability > 75 %>
                     <span><i class="icon ion-md-checkmark-circle icon-green checkmark-custom"></i></span>
                  <% elsif build.stability < 75 %>
                     <span><i class="icon ion-md-checkmark-circle icon-red checkmark-custom"></i></span>
                  <% end %>
                  health: </p>
                  <p>
                     <%= build.stability %>%
                  </p>
               <% else %>
               <p class="bold">ave. duration: </p>
               <p> N/A </p>
               <% end %>
         </li>
      </ul>
   </div>
   <div class="test-data">
      <ul class="list-inline list-inline-horizontal">
         <% if build.status == 'progress'%>
            <li class="list-group-item flex-build" id= "in-progress">
               <p><%= link_to "#{test.job_url}#{build.last_number}/console", :target => :_blank do %>
                  <b>in progress </b><%="#{build.last_number}" %>
                  <% end %>
               </p>
               <p>
                  <p><% if !build.last_time.nil?%>
                  <%= "#{distance_of_time_in_words(build.last_time, Time.now)} ago" %>
                  <% end %>
               </p>
               </p>
            </li>

         <% elsif build.status == 'notbuilt'%>
            <li class="list-group-item flex-build" id= "notbuilt">
               <p><%= link_to "#{test.job_url}", :target => :_blank do %>
                  <b>not built </b>
                  <% end %>
               </p>
               <p>
                  n/a
               </p>
            </li>
         <% else %>
            <li class="list-group-item flex-build" id= "<%=build.status%>">
               <p><%= link_to "#{test.job_url}#{build.last_number}/console", :target => :_blank do %>
                  <b>last build </b><%="#{build.last_number}" %>
                  <% end %>
               </p>
               <p><% if !build.last_time.nil?%>
                  <%= "#{distance_of_time_in_words(build.last_time, Time.now)} ago" %>
                  <% end %>
               </p>
            </li>
            <% if build.status == 'failure' || build.status == 'failure-orange'%>
               <% if !build.success_number.nil? %>
                  <li class="list-group-item flex-build" id= "<%=build.status%>" >
                     <p><%= link_to "#{test.job_url}#{build.success_number}/console", :target => :_blank do %>
                        <b>last success </b><%="#{build.success_number}" %>
                        <% end %>
                     </p>
                     <p><% if !build.success_time.nil?%>
                        <%= "#{distance_of_time_in_words(build.success_time, Time.now)} ago" %>
                        <% end %>
                     </p>
                  </li>
               <% end %>
            <% end %>
         <% end %>
      </ul>
   </div>
   <div class="test-footer panel-footer" id= "<%=(@env_tag.name)%>">
      <% if !test.app_tag.nil? %>
         <span class="badge badge-primary"><%= test.app_tag.name %></span>
      <% end %>
      <% if !test.feature_tag.nil? %>
         <span class="badge badge-info"><%= test.feature_tag.name %></span>
      <% end %>
      <% if !test.owner_tag.nil? %>
         <span class="badge badge-info"><%= test.owner_tag.name %></span>
      <% end %>
      <p class="action-buttons">
         <% if build.status == 'progress' %>
            <span class="jenkins-action" id="jenkins-stop-<%=build.id%>">
               <%= link_to (jenkins_stop_build_path(build.id)), :remote=>true do %>
                  <i class="icon ion-md-remove-circle custom-icon-construct"></i>
               <% end %>
            </span>
         <% end %>
         <span class="jenkins-action" id="jenkins-start-<%=test.id%>">
            <%= link_to (jenkins_build_test_path(test.id)), :remote=>true do %>
               <i class="icon ion-md-construct custom-icon-construct"></i>
            <% end %>
         </span>
         <span class="jenkins-action" id="jenkins-refresh-<%=build.id%>">
            <%= link_to (jenkins_refresh_build_path(build.id)), :remote=>true do %>
               <i class="icon ion-md-refresh-circle custom-icon-refresh-circle"></i>
            <% end %>
         </span>
      </p>
   </div>
</div>

<script>
$(".test-container-<%=test.id%>").hover(function() {
   $("#edit-test-<%=test.id%>").show();
   $("#jenkins-start<%=test.id%>").show();
   $("#jenkins-refresh<%=build.id%>").show();
   $("#jenkins-stop<%=build.id%>").show();
   $("#note-<%=build.test_id%>").show();
}, function() {
   $("#edit-test-<%=test.id%>").hide();
   $("#jenkins-start<%=test.id%>").hide();
   $("#jenkins-refresh<%=build.id%>").hide();
   $("#jenkins-stop<%=build.id%>").hide();
   $("#note-<%=build.test_id%>").hide();
});
</script>
