<% test = Test.where(id: build.test_id).first%>
<div id="build-card-<%= build.id%>">
   <div class="build-data">
      <ul class="list-inline list-inline-horizontal">
         <li class="list-group-item flex-build-data">
            <p class="bold">last duration: </p>
            <% if !build.last_duration.nil? %>
               <p><%= "#{Time.at(build.last_duration/1000).utc.strftime("%-Mmin %-Ss")}"%></p>
            <% else %>
               <p> </p>
            <% end %>
         </li>
         <li class="list-group-item flex-build-data">
            <p class="bold">ave. duration: </p>
            <% if !build.ave_duration.nil? %>
               <p><%= "#{Time.at(build.ave_duration/1000).utc.strftime("%-Mmin %-Ss")}"%></p>
            <% else %>
               <p> </p>
            <% end %>
         </li>
         <li class="list-group-item flex-build-data">
               <% if !build.stability.nil? %>
               <p class="bold">
                  <% if build.stability > 75 %>
                     <span><i class="icon ion-md-checkmark-circle icon-green checkmark-custom"></i></span>
                  <% elsif build.stability < 75 %>
                     <span><i class="icon ion-md-checkmark-circle icon-red checkmark-custom"></i></span>
                  <% end %>
                  health: </p>
                  <p>
                     <%= build.stability %>%
                  </p>
               <% else %>
               <p class="bold">ave. duration: </p>
               <p> </p>
               <% end %>
         </li>
      </ul>
   </div>
   <div class="test-data">
      <ul class="list-inline list-inline-horizontal">
         <% if build.status == 'progress'%>
            <li class="list-group-item flex-build" id= "in-progress">
               <p><%= link_to "#{test.job_url}#{build.last_number}/console", :target => :_blank do %>
                  <b>in progress </b><%="#{build.last_number}" %>
                  <% end %>
               </p>
               <p>
                  HEY
               </p>
            </li>

         <% elsif build.status == 'notbuilt'%>
            <li class="list-group-item flex-build" id= "notbuilt">
               <p><%= link_to "#{test.job_url}", :target => :_blank do %>
                  <b>not build </b>
                  <% end %>
               </p>
               <p>
                  HEY
               </p>
            </li>
         <% else %>
            <li class="list-group-item flex-build" id= "<%=build.status%>">
               <p><%= link_to "#{test.job_url}#{build.last_number}/console", :target => :_blank do %>
                  <b>last build </b><%="#{build.last_number}" %>
                  <% end %>
               </p>
               <p><% if !build.last_time.nil?%>
                  <%= "#{distance_of_time_in_words(build.last_time, Time.now)} ago" %>
                  <% end %>
               </p>
            </li>
            <% if build.status == 'failure' || build.status == 'failure-orange'%>
               <% if !build.success_number.nil? %>
                  <li class="list-group-item flex-build" id= "<%=build.status%>" >
                     <p><%= link_to "#{test.job_url}#{build.success_number}/console", :target => :_blank do %>
                        <b>last success </b><%="#{build.success_number}" %>
                        <% end %>
                     </p>
                     <p><% if !build.success_time.nil?%>
                        <%= "#{distance_of_time_in_words(build.success_time, Time.now)} ago" %>
                        <% end %>
                     </p>
                  </li>
               <% end %>
            <% end %>
         <% end %>
      </ul>
   </div>
</div>
