<% total_count = helper_tag_count(tag, @env_tag.name) %>
<% success_count = helper_tag_count_by_status(tag, @env_tag.name, "success") %>
<% failure_orange_count = helper_tag_count_by_status(tag, @env_tag.name, "failure-orange") %>
<% failure_count = helper_tag_count_by_status(tag, @env_tag.name, "failure") %>
<% aborted_count = helper_tag_count_by_status(tag, @env_tag.name, "aborted") %>
<% progress_count = helper_tag_count_by_status(tag, @env_tag.name, "progress") %>


<div class="card" id="display-card-<%=tag.id%>">
   <div class="card-header" id= "<%=@env_tag.name%>">
      <%= link_to tag_path(id: tag.id), class: "link-title" do %>
      <h3 class="tag-name">
         <%= tag.name %>
      </h3>
      <% end %>
   </div>
   <div class="card-description">
      <div class ="tag-data">
         <ul class="list-inline list-inline-horizontal">
            <li class="list-group-item tag-data-box tag-test-count">
               <h3><span class="icon-green"><%=success_count%></span>/<%=total_count%></h3>
            </li>
            <li class="list-group-item tag-data-box">
               <h3>
                  <span>
                     <% if success_count/total_count.to_f*100 >75.0 %>
                        <i class="icon ion-md-checkmark-circle icon-green"></i>
                     <% else %>
                        <i class="icon ion-md-close-circle icon-red"></i>
                     <% end %>
                  </span>
                  <%=number_to_percentage(success_count/total_count.to_f*100,precision:0)%>
               </h3>
            </li>
         </ul>
      </div>
      <div class="progress-container">
         <% if total_count > 0 %>
            <div class="progress" id ="progress-show-<%=tag.id%>">
                  <div class="progress-bar" id="success" style="width: <%=success_count/total_count.to_f*100.0 %>%"></div>
                  <div class="progress-bar" id="in-progress" style="width: <%=progress_count/total_count.to_f*100.0 %>%"></div>
                  <div class="progress-bar" id="failure-orange" style="width: <%=failure_orange_count/total_count.to_f*100.0 %>%"></div>
                  <div class="progress-bar" id="failure" style="width: <%=failure_count/total_count.to_f*100.0 %>%"></div>
                  <div class="progress-bar" id="aborted" style="width: <%=aborted_count/total_count.to_f*100.0 %>%"></div>
            </div>
         <% else %>
            <div class="progress">
               <div class="progress-bar other" style="width: 100%"></div>
            </div>
         <% end %>
      </div>
   </div>
</div>

<script>
   $("#recent-failed-<%= tag.id %>").click(function (e) {
      e.stopPropagation();
   });
   $("#failed-toggle-<%= tag.id %>").click(function (e) {
      e.stopPropagation();
      $("ul.recent-failed-list").hide();
      if ($("#recent-failed-<%= tag.id %>").is(":visible")) {
         $("#recent-failed-<%= tag.id %>").hide();
      } else {
         $("#recent-failed-<%= tag.id %>").show();
      }
   });
</script>
<script>
   $("#never-<%= tag.id %>").click(function (e) {
      e.stopPropagation();
   });
   $("#never-toggle-<%= tag.id %>").click(function (e) {
      e.stopPropagation();
      $("ul.recent-failed-list").hide();
      if ($("#never-<%= tag.id %>").is(":visible")) {
         $("#never-<%= tag.id %>").hide();
      } else {
         $("#never-<%= tag.id %>").show();
      }
   });
</script>
<script>
   $("#stability-<%= tag.id %>").click(function (e) {
      e.stopPropagation();
   });
   $("#stability-toggle-<%= tag.id %>").click(function (e) {
      e.stopPropagation();
      $("ul.recent-failed-list").hide();
      if ($("#stability-<%= tag.id %>").is(":visible")) {
         $("#stability-<%= tag.id %>").hide();
      } else {
         $("#stability-<%= tag.id %>").show();
      }
   });
</script>
<script>
   $(document).click(function() {
      $("ul.recent-failed-list").hide();
   });
</script>
