<% test = Test.where(id: build.test_id).first%>

<% if !test.nil? %>
<% if build.status != 'progress'%>
<div class="card color-shape test-container-<%=Test.where(id: build.test_id).first.id%> <%=build_tag_name(test, "Application")%> <%=build_tag_name(test, "Feature")%> <%=build_tag_name(test, "Owner")%> <%=build.status%>">
<% else %>
   <div class="card color-shape test-container-<%=Test.where(id: build.test_id).first.id%> <%=build_tag_name(test, "Application")%> <%=build_tag_name(test, "Feature")%> <%=build_tag_name(test, "Owner")%> in-progress">

<% end %>
   <div class="card-header" id= "<%=(@env_tag.name)%>">
      <%= link_to test.job_url, class: "link-title", target: :_blank do %>
      <h6 class="test-name">
         <%= test.name%>
      </h6>
      <% end %>
   </div>

   <p align="left" class="edit-test-settings" id="note-<%=test.id%>">
   <%= react_component 'Notes', { notes: build.notes, build: build }, { class: "notes-notes" } %>
   </p>
<p align="right" class="edit-test-settings" id="edit-test-<%=test.id%>">
   <%= link_to (edit_test_path(test.id)), :remote => true do %>
   <span align="left" class="tooltip-toggle" aria-label="edit" tabindex="0">
      <i class="icon ion-md-settings custom-icon-settings" id="edit-test-<%=test.id%>">
      </i>
   </span>
   <% end %>
</p>


<%= render partial: "/builds/build_card", locals: { build: build} %>
</div>
<% end %>
