<% test = Test.where(id: build.test_id).first%>

<% if !test.nil? %>
<% if build.status != 'progress'%>
<div class="card color-shape test-container-<%=Test.where(id: build.test_id).first.id%> <%=build_tag_name(test, "Application")%> <%=build_tag_name(test, "Feature")%> <%=build_tag_name(test, "Owner")%> <%=build.status%>">
<% else %>
   <div class="card color-shape test-container-<%=Test.where(id: build.test_id).first.id%> <%=build_tag_name(test, "Application")%> <%=build_tag_name(test, "Feature")%> <%=build_tag_name(test, "Owner")%> in-progress">

<% end %>
   <div class="card-header" id= "<%=(@env_tag.name)%>">
      <%= link_to test.job_url, class: "link-title", target: :_blank do %>
      <h6 class="test-name">
         <%= test.name%>
      </h6>
      <% end %>
   </div>

   <p align="left" class="edit-test-settings" id="note-<%=test.id%>">
      <%= react_component 'Notes', { notes: build.notes, build: build }, { class: "notes-notes" } %>
   </p>
<p align="right" class="edit-test-settings" id="edit-test-<%=test.id%>">
   <%= link_to (edit_test_path(test.id)), :remote => true do %>
   <span align="left" class="tooltip-toggle" aria-label="edit" tabindex="0">
      <i class="icon ion-md-settings custom-icon-settings">
      </i>
   </span>
   <% end %>
</p>

<%= render partial: "/builds/build_card", locals: { build: build} %>

<div class="test-footer panel-footer" id= "<%=(@env_tag.name)%>">
   <% if !test.app_tag.nil? %>
      <span class="badge badge-primary"><%= test.app_tag.name %></span>
   <% end %>
   <% if !test.feature_tag.nil? %>
      <span class="badge badge-info"><%= test.feature_tag.name %></span>
   <% end %>
   <% if !test.owner_tag.nil? %>
      <span class="badge badge-warning"><%= test.owner_tag.name %></span>
   <% end %>
   <p class="action-buttons">
      <% if build.status == 'progress' %>
         <span class="jenkins-action" id="jenkins-stop-<%=build.id%>">
            <%= link_to (jenkins_stop_build_path(build.id)), :remote=>true do %>
               <i class="icon ion-md-remove-circle custom-icon-construct"></i>
            <% end %>
         </span>
      <% end %>
      <span class="build-build" id="jenkins-start-<%=test.id%>">
         <%= link_to (jenkins_build_test_path(test.id)), :remote=>true do %>
            <i class="icon ion-md-construct custom-icon-construct"></i>
         <% end %>
      </span>
      <span class="refresh-refresh" id="jenkins-refresh-<%=build.id%>">
         <%= link_to (jenkins_refresh_build_path(build.id)), :remote=>true do %>
            <i class="icon ion-md-refresh-circle custom-icon-refresh-circle"></i>
         <% end %>
      </span>
   </p>
</div>

</div>
<% end %>
<script>
$(".test-container-<%=test.id%>").hover(function() {
   $("#edit-test-<%=test.id%>").show();
   $("#jenkins-refresh<%=build.id%>").show();
   $("#jenkins-stop<%=build.id%>").show();
   $("#note-<%=build.test_id%>").show();
}, function() {
   $("#edit-test-<%=test.id%>").hide();
   $("#jenkins-start<%=test.id%>").hide();
   $("#jenkins-refresh<%=build.id%>").hide();
   $("#jenkins-stop<%=build.id%>").hide();
   $("#note-<%=build.test_id%>").hide();
});
</script>
